{% extends "racedbapp/base.html" %}
{% load static %}
{% load racedbapp_extras %}
{% block ogmeta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Run Waterloo Results" />
  <meta property="og:description"
        content="Explore results and records for every Run Waterloo event." />
  <meta property="og:image" content="{% static " ogimage.png" %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{% endblock ogmeta %}
{% block content %}
  <h2></h2>
  {% if notification %}<h3>{{ notification }}</h3>{% endif %}
  <!-- START FIRST ROW -->
  <div class="row">
    {% if recap_type %}
      {% if recap_type == "relay" %}
        {% include "racedbapp/index_last-race-relay.html" %}
      {% elif recap_type == "combined" %}
        {% include "racedbapp/index_last-race-combined.html" %}
      {% elif recap_type == "endurrun" %}
        {% include "racedbapp/index_last-race-endurrun.html" %}
      {% else %}
        {% include "racedbapp/index_last-race-standard.html" %}
      {% endif %}
    {% endif %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="row">
        <hr class="hidden-lg">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="profile-outer">
            <div class="profile-inner">
              <a href="{{ memberinfo.member.photourl }}">
                <img src="{{ memberinfo.member.photourl }}">
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 style="margin-left: 5px;">
            <strong>MEMBER
              <br>
            SPOTLIGHT</strong>
          </h2>
          <h3 style="margin-left: 5px;">
            <a href="/member/{{ memberinfo.member.slug }}/">{{ memberinfo.member.name }}</a>
          </h3>
          <table style="margin-left: 5px;" class="table table-bordered">
            <tr>
              <td>Member #</td>
              <td>{{ memberinfo.member.id }}</td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{ memberinfo.member.city }}</td>
            </tr>
            <tr>
              <td>Racing Since</td>
              <td>{{ memberinfo.racing_since }}</td>
            </tr>
            <tr>
              <td>KM Raced</td>
              <td>{{ memberinfo.km }}</td>
            </tr>
            {% if memberinfo.fivek_pb %}
              <tr>
                <td>5 KM PB</td>
                <td>
                  <a href="/event/{{ memberinfo.fivek_pb.result.event.date.year }}/{{ memberinfo.fivek_pb.result.event.race.slug }}/{{ memberinfo.fivek_pb.result.event.distance.slug }}/">{{ memberinfo.fivek_pb.guntime }}</a>
                </td>
              </tr>
            {% endif %}
            {% if memberinfo.tenk_pb %}
              <tr>
                <td>10 KM PB</td>
                <td>
                  <a href="/event/{{ memberinfo.tenk_pb.result.event.date.year }}/{{ memberinfo.tenk_pb.result.event.race.slug }}/{{ memberinfo.tenk_pb.result.event.distance.slug }}/">{{ memberinfo.tenk_pb.guntime }}</a>
                </td>
              </tr>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- END FIRST ROW -->
  <!-- START SECOND ROW -->
  {% if featured_event %}
    <hr>
    <div class="row">
      <center>
        <h2>
          <strong>FEATURED EVENT</strong>
        </h2>
      </center>
      <div class="col-xs-l col-sm-3 col-md-3 col-lg-2">
        <center><a href="https://runwaterloo.com/{{ featured_event.race.slug }}/">
          <img class="img-responsive upcoming-race" src="{% static "race_logos/"|add:featured_race_logo_slug|add:".png" %}">
        </img>
      </a></center>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <br>
      <strong><a href="https://runwaterloo.com/{{ featured_event.race.slug }}/">{{ featured_event.race.name }}</strong></a>
    <br>
    <br>
    <strong>{{ featured_event.distance.name }}</strong>
    <br>
    {{ featured_event.date }}
    <br>
    {{ featured_event.city }}
    <br>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <p></p>
    <table class="table table-condensed">
      <tr class="info">
        <th>Demographic</th>
        <th>{{ featured_event.date.year|add:"-1" }} Winner</th>
        <th>Time</th>
        <th>Record Holder</th>
        <th>Time</th>
        <th>Year</th>
      </tr>
      {% for i in featured_event_data %}
        <tr>
          {% ifchanged i.demographic %}
            <td>{{ i.demographic }}</td>
            {% if i.last_year_winning_member %}
              <td>
                <a href="/member/{{ i.last_year_winning_member }}/">{{ i.last_year_winning_athlete }}</a>
              </td>
            {% else %}
              <td>{{ i.last_year_winning_athlete }}</td>
            {% endif %}
            <td>{{ i.last_year_winning_time|get_time }}</td>
          {% else %}
            <td></td>
            <td></td>
            <td></td>
          {% endifchanged %}
          {% if i.record_member %}
            <td>
              <a href="/member/{{ i.record_member.slug }}/">{{ i.record_athlete }}</a>
            </td>
          {% else %}
            <td>{{ i.record_athlete }}</td>
          {% endif %}
          <td>{{ i.record_time|get_time }}</td>
          <td>
            <a target="_blank"
               href="/event/{{ i.record_year }}/{{ featured_event.race.slug }}/{{ featured_event.distance.slug }}">{{ i.record_year }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}
<!-- END SECOND ROW -->
<!-- START THIRD ROW -->
<!-- <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr>
    <center><img src="{% static "RW-Boost-Wordmark.png" %}" height="40px"><br><strong>&nbsp;&nbsp;Run Fast. Run Often. Get Points. Win Stuff.</strong></center>
    <p></p>
    {% for k, v in boost_leaderboard.items %}
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <table class="table">
            <tr class="info">
              <th class="text-center" colspan="3">{{ k }}</th>
            </tr>
            {% for i in v %}
              <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td><a href="/boost/{{ boost_year }}/?member={{ i.slug }}" title="{{ i.total_points|floatformat:"2" }}">{{ i.total_points|floatformat:"0" }}<a></td>
                <td>
                {% if i.active %}
                  <a href="/member/{{ i.slug }}/">{{ i.athlete}}</a>
                {% else %}
                  {{ i.athlete}}
                {% endif %}
                </td>
              </tr>
            {% endfor %}
        </table>
      </div>
    {% endfor %}
    <center><strong><a href="/boost/{{ boost_year }}/">Full Standings</a></strong></center>
  </div>
</div> -->
<!-- END THIRD ROW -->
<!-- START FOURTH ROW -->
<hr>
<center>
  <h2>
    <strong>UPCOMING EVENTS</strong>
  </h2>
</center>
{% for fe in future_events %}
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <center><a href="https://runwaterloo.com/{{ fe.0.race.slug }}/">
        <img class="img-responsive upcoming-race" src="{% static "race_logos/"|add:fe.2|add:".png" %}">
      </img>
    </a></center>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
    <br>
    <strong><a href="https://runwaterloo.com/{{ fe.0.race.slug }}/">{{ fe.0.race.name }}</strong></a>
  <br>
  <br>
  <strong>{{ fe.0.distance.name }}</strong>
  <br>
  {{ fe.0.date }}
  <br>
  {{ fe.0.city }}
  <br>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
  <p></p>
  {% if fe.1 %}
    <table class="table table-condensed">
      <tr class="info">
        <th>Demographic</th>
        <th>Previous Winner</th>
        <th>Time</th>
        <th>Record Holder</th>
        <th>Time</th>
        <th>Year</th>
      </tr>
      {% for i in fe.1 %}
        <tr>
          {% ifchanged i.demographic %}
            <td>{{ i.demographic }}</td>
            {% if i.last_year_winning_member %}
              <td>
                <a href="/member/{{ i.last_year_winning_member }}/">{{ i.last_year_winning_athlete }}</a>
              </td>
            {% else %}
              <td>{{ i.last_year_winning_athlete }}</td>
            {% endif %}
            <td>{{ i.last_year_winning_time|get_time }}</td>
          {% else %}
            <td></td>
            <td></td>
            <td></td>
          {% endifchanged %}
          {% if i.record_member %}
            <td>
              <a href="/member/{{ i.record_member.slug }}/">{{ i.record_athlete }}</a>
            </td>
          {% else %}
            <td>{{ i.record_athlete }}</td>
          {% endif %}
          <td>{{ i.record_time|get_time }}</td>
          <td>
            <a target="_blank"
               href="/event/{{ i.record_year }}/{{ i.event.race.slug }}/{{ i.event.distance.slug }}">{{ i.record_year }}</a>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <center>
        <h1>Inaugural Event!</h1>
      </center>
    {% endif %}
  </table>
</div>
</div>
{% endfor %}
<center><strong><a href="https://runwaterloo.com/category/run-waterloo-events/">All Future Events</a></strong></center>
<p></p>
<!-- END FOURTH ROW -->
{% endblock content %}
