{% extends "racedbapp/base.html" %}
{% load static %}

{% load racedbapp_extras %}

{% block ogmeta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Run Waterloo Results" />
  <meta property="og:description" content="Explore results and records for every Run Waterloo event." />
  <meta property="og:image" content="{% static "ogimage.png" %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{% endblock ogmeta %}

{% block content %}
<h3>Name Search Results: <small>{{ q }}</small></h3>
 {% if results %}
 <p>Found {{ results|length }} results!</p>
  <table class="table table-condensed table-striped">
   <tr>
   <th>Event</th>
   <th>Name</th>
   <th class="text-center">Place</th>
   <th class="text-center">Bib</th>
   <th class="text-center">Gun Time</th>
   <th>Category</th>
   <th class="text-center">Cat Place</th>
   <th class="text-center">Gender Place</th>
   <th class="text-center">Pace</th>
   <th class="text-center">Chip Time</th>
   <th>City</th>
   </tr>
  {% for result in results %}
   <tr>
    <td><a href="/event/{{ result.event.date.year }}/{{ result.event.race.slug }}/{{ result.event.distance.slug }}">{{ result.event.date.year }} {{ result.event.race.shortname }} {{result.event.distance.name }}</a></td>
    {% if result.member %}
      <td><a href="/member/{{ result.member.slug }}/">{{ result.athlete }}</a></td>
    {% else %}
      <td>{{ result.athlete }}</td>
    {% endif %}
    <td class="text-center">{{ result.place|get_place }}</td>
    <td class="text-center">{{ result.bib }}</td>
    {% if result.place < 990000 %}
     <td class="text-center">{{ result.guntime }}</td>
     <td>{{ result.category }}</td>
     <td class="text-center">{{ result.catplace }}/{{ result.catcount }}</td>
     <td class="text-center">{{ result.genderplace }}</td>
     <td class="text-center">{{ result.guntime|get_pace:result.event.distance.km }}</td>
     <td class="text-center">{{ result.chiptime }}</td>
    {% else %}
     <td></td>
     <td>{{ result.category }}</td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
    {% endif %}
    <td>{{ result.city }}</td>
   </tr>
  {% endfor %}
  </table>
 {% else %}
 <p>{{ message }}</p>
 {% endif %}
{% endblock content %}
