/*
.table tr.tr_dark_topborder td {
        border-top: 1px solid darkgrey;
}
*/
.pagination {
    margin: 0px !important;
}

.starter-template {
            padding: 60px 0px;
                    text-align: left;
}
.navbar-brand{padding:0px 0px}
form {
        display: inline;
}
html {
      overflow-y: scroll;
}

.navbar-fixed-top {
        height: 70px; /* Whatever you want. */
        padding: 10px 0px;
}

.padding-for-sponsor {
    margin-bottom: 40px;
}

/* navbar */

.navbar-default, .navbar, .navbar-inner {
  padding-top: 15px;
  background-color: #01293F;
  background-image: none;
  background-repeat: no-repeat;
  border-color: transparent;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
 }

 .table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info, .table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th {
   background-color: #01293F;
   color: white;
 }


.navbar .nav > li > a {
    color: lightgrey;
}
.navbar .nav > li > a:hover {
    color: #ffffff;
}

@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #01293F;}
.collapsing ul li a, .in ul li a {color: lightgrey!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #ffffff!important;}
}

.yellow {
        color: #FFF200!important;
}

.table > tbody > tr > td {
         vertical-align: middle;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* member profile pic
https://jsfiddle.net/1rhjgncg/3/
*/

div.profile-outer {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
    /* border: 2px solid blue; for demo */
}
div.profile-inner {
    position:relative;
    float: right;
    right: 50%;
}
div.profile-inner img {
    height: 400px;
    position: relative;
    right:-50%;
    border-radius: 15px;
}
div.profile-outer-mini {
    width: 225px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
    /* border: 2px solid blue; for demo */
}
div.profile-inner-mini {
    position:relative;
    float: right;
    right: 50%;
}
div.profile-inner-mini img {
    height: 300px;
    position: relative;
    right:-50%;
    border-radius: 15px;
}
div.upcoming-race {
     border: 2px solid blue; for demo */
     margin-bottom: 5px;
     margin-top: 5px;
     border-radius: 10px;
}
div.upcoming-race-outer {
     border: 2px solid blue; for demo */
     margin-bottom: 5px;
     margin-top: 5px;
     border-radius: 10px;
     overflow: hidden; /* add this to contain floated children */
}
div.upcoming-race-inner {
     border: 2px solid red; for demo */
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     display: inline-block;
     vertical-align: middle;
     border-radius: 10px;
}
img.upcoming-race {
    float: left;
    margin-top: 5px;
    border-radius: 10px;
}

.img-rounded{
  padding: 0;
}

/* custom styling for font awesome icons */
.fa-icon-1st-oa{
  color: #d4af37;
}
.fa-icon-2nd-oa{
  color: #bec2cb;
}
.fa-icon-3rd-oa{
  color: #b08d57;
}
.fa-icon-1st-master{
  color: #d4af37;
}
.fa-icon-pb{
  color: #aadcdc;
}
.fa-icon-expand{
  color: #0000ff;
}
.fa-icon-counts{
  color: #009900;
}
.fa-icon-notcounts{
  color: #ff0000;
}
.fa-icon-classic{
  color: #ffa500;
}
.fa-icon-ditto{
  color: #800000;
}
.fa-icon-ultimate-gold-jersey{
  color: #fbb117;
}

/* wrap enclosed items together */
.nowrap {
  white-space: nowrap;
}
